.modes-page {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
}

.modes-container {
  display: flex;
  width: 1000px;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 1.5s;
}

.dynamic-button-and-image-container {
  margin-right: 100px;
}

.playlist-image,
.dynamic-image {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  font-size: 50%;
  font-family: "Montserrat", bold;
  background-color: #19720b;
  border-color: #19720b;
  line-height: 0.9;
  border-radius: 3px 3px 0px 0px;
}

.playlist-button,
.dynamic-button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 15px;
  text-align: center;
  align-items: center;
  font-size: 50%;
  font-family: "Montserrat", bold;
  background-color: #19720b;
  border-color: #19720b;
  line-height: 0.9;
  border-radius: 3px 3px 0px 0px;
}

.dynamic-button:hover,
.playlist-button:hover {
  opacity: 0.8;
  background-color: #ff0000;
  border-color: #ff0000;
  font-family: "Montserrat", sans-serif;
}

.dynamic-image:hover,
.playlist-image:hover {
  opacity: 0.4;
}
