.playlistNavigation {
  top: 0;
  height: 30px;
  background-color: black;
  border-color: black;
  transition: top 0.3s;
}

.playlist-back-button {
  margin-top: 5px;
  display: flex;
  height: 20px;
  justify-content: center;
  text-align: center;
}

.hidden {
  background-color: black;
}
