/* .button-container {
  width: 100%;
  display: flex;
  flex: wrap;
  margin-top: 2px;
  margin-bottom: 20px;
}
.youtube-back-button {
  margin-right: 30px;
}

.youtube-lyric-button {
  margin-right: 30px;
}

.youtube-lyric-button,
.spotify-youtube-previous-button,
.spotify-youtube-current-button,
.spotify-youtube-next-buttons,
.youtube-load-more-button {
  display: flex;
  justify-content: center;
  width: 140px;
  height: 30px;
  text-align: center;
  align-items: center;
  font-size: 50%;
  font-family: "Montserrat", bold;
  background-color: #19720b;
  border-color: #19720b;
  line-height: 0.9;
  border-radius: 3px 3px 0px 0px;
}

.spotify-youtube-previous-button {
  margin-right: 0px;
}

.spotify-youtube-current-button {
  background-color: red;
  border-color: red;
  margin-left: 0px;
}
.youtube-lyric-button:disabled,
.spotify-youtube-previous-button:disabled,
.spotify-youtube-current-button:disabled,
.spotify-youtube-next-buttons:disabled {
  background-color: grey;
  border-color: grey;
}

.player-and-sidebar {
  display: flex;
  justify-content: center;
}

#player {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sidebar {
  border-color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.typed-and-spinner {
  border-color: white;
  justify-content: center;
}

.loading-typed {
  justify-content: center;
  color: green;
}

.loading-spinner {
  color: green;
  display: flex;
  justify-content: center;
  margin-left: 50%;
} */
