.playerContainer {
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instructions {
  display: flex;
  justify-content: space-around;
}

.instruction {
  align-self: flex-end;
  display: flex;
}

.instructionText {
  align-self: flex-end;

  margin-left: 10px;

  font-size: 10px;
  font-family: "SpotifyMedium";

  color: white;
}

.repeatIcon,
.shuffleIcon {
  width: 20px;
  height: 15px;
  align-self: flex-end;
}

.spotifyLogo {
  width: 20px;
  height: 20px;
}

#player {
  margin-top: 50px;
}

.invisible {
  visibility: hidden;
}
